.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenu{
    flex: 1;
    width: 100%;
    min-height: var(--max-largeur);
    margin: 0 auto;
    padding: 40px 24px 80px;
}